.contact-list {
  border: 1px solid lightgrey;
  padding: 0 10px;
}

.contact-item {
  display: flex;
  cursor: pointer;
}

.contact-item > div {
  flex: 1 1 0;
}

.contact-item > span {
  font-size: 0.9rem;
  color: red;
}
