<div class="contact-list height-100-pct">
  <div
    class="contact-item"
    *ngFor="let contact of contacts | async"
    (click)="onContactSelected(contact)"
  >
    <div>{{ contact.name }}</div>
    <span (click)="requestDeleteContact(contact)">Delete</span>
  </div>
</div>
