<div class="contact-detail height-100-pct">
  <div *ngIf="!contact">Please select a contact</div>
  <div *ngIf="contact">
    <div class="row">
      <div class="picture"></div>
      <label>Email</label>
      <span>{{ contact.email }}</span>
    </div>
    <div class="row">
      <div class="picture"></div>
      <label>tel</label>
      <span>{{ contact.tel }}</span>
    </div>
    <div class="row">
      <div class="picture"></div>
      <label>Notes</label>
      <span>{{ contact.notes }}</span>
    </div>
  </div>
</div>
