.contact-detail {
  border: 1px solid lightgrey;
  border-left: none;
  padding: 10px 20px;
}

.row {
  margin-bottom: 10px;
  display: flex;
}

.row > .picture {
  height: 20px;
  width: 20px;
  background-color: grey;
}

.row > label {
  margin: 0 20px;
}
