<div class="root">
  <app-header [selectedContact]="selectedContact"></app-header>
  <div class="body">
    <app-contact-list
      class="contact-list"
      [contacts]="contacts$"
      (contactSelected)="onContactSelected($event)"
    ></app-contact-list>
    <app-contact-detail
      class="contact-detail"
      [contact]="selectedContact"
    ></app-contact-detail>
  </div>
</div>
