/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.height-100-pct {
  height: 100%;
}
